@use "@/styles/_variables.scss" as v;

.play {
	$spacing: 1.5rem;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;

	hr {
		border-color: transparent;
		border-top: 1px solid rgba(v.$primary-color, .3);
		width: 60vw;
		max-width: 600px;
		margin-top: $spacing;
		margin-bottom: $spacing;
	}

	.puzzle-size {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0.6rem 1.5rem;
			min-width: 80px;

			background-color: v.$quaternary-color;
			color: #e0e0e0;
			text-decoration: none;
			font-weight: 500;
			font-size: 0.9rem;
			transition: all 0.2s ease-in-out;
			border: 1px solid rgba(255, 255, 255, 0.1);

			font-family: var(--font-numbers);

			&:not(:last-child) {
				border-right: none;
			}

			&:first-child {
				border-radius: 8px 0 0 8px;
			}
						&:last-child {
				border-radius: 0 8px 8px 0;
			}

			&:hover {
				background-color: lighten(v.$quaternary-color, 5%);
			}

			&.active {
				background-color: darken(v.$quaternary-color, 10%);
				color: #ffffff;
				box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: 6px;
					left: 50%;
					transform: translateX(-50%);
					width: 12px;
					height: 2px;
					background-color: #fff;
					border-radius: 2px;
				}
			}
		}
	}

	.welcome-message {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.game {
		display: flex;
		flex-direction: column;
		align-items: center;
		// border-top: 1px solid rgba(v.$primary-color, .3);
		// margin-top: $spacing;
		// padding-top: $spacing;

		.timer {
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 1rem;
			color: v.$primary-color;
			position: relative;

			.clock {
				display: flex;
				gap: .5rem;

				.part {
					.value {
						font-size: 1.2rem;
						font-family: var(--font-numbers);
					}
					.label {
						font-size: .8rem;
					}
				}

			}
			.clock-icon {
				position: absolute;
				left: 110%;
			}
		}
	}

	.victory {
		background: rgba(v.$primary-color, .3);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		animation: fadeIn 0.5s ease-out;
		border-radius: 0.5rem;
		border: 1px solid rgba(black, .2);
		padding: 1rem 2rem;
		cursor: default;

		.title {
			font-size: 1.75rem;
			color: v.$primary-color;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		.subtitle {
			color: v.$primary-color;
			font-size: 1rem;
		}
	}

	.start {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}