@use "@/styles/_variables.scss" as v;

.play {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.timer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 1rem;
		margin-bottom: 1rem;
		color: v.$primary-color;

		.clock {
			display: flex;
			gap: .5rem;
			margin-right: 1rem;

			.part {
				.value {
					font-weight: bold;
					font-size: 1.6rem;
				}
			}
		}
	}
}