@use "@/styles/_variables.scss" as v;

$tile-size: 2.75rem;
$inner-border-color: rgba(v.$primary-color, .15);
$outer-border-color: rgba(v.$primary-color, .4);

@mixin sudoku-board($size, $block-x, $block-y) {
	grid-template-columns: repeat($size, $tile-size);
	grid-template-rows: repeat($size, $tile-size);

	.tile {
		// section Vertical lines
		@for $i from 1 through $size {
			@if ($i % $block-x == 0) and ($i != $size) {
				&[data-x="#{$i - 1}"] {
					border-right: 1px solid $outer-border-color;
				}
			}
		}

		// section horizontal lines
		@for $j from 1 through $size {
			@if ($j % $block-y == 0) and ($j != $size) {
				&[data-y="#{$j - 1}"] {
					border-bottom: 1px solid $outer-border-color;
				}
			}
		}
	}
}

.board {
	.grid {
		display: inline-grid;
		overflow: hidden;
		border-radius: .5rem;
		border: 1px solid $inner-border-color;
		cursor: default;

		.tile {
			background-color: #f5f5f5;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $inner-border-color;
			font-size: 1.15rem;
			color: v.$quaternary-color;
			font-weight: bold;

			&.filled {
				background-color: rgba(black, .05);
				color: inherit;
				font-weight: normal;
			}

			&.selected {
				background-color: v.$tertiary-color !important;
				border-color: rgba(black, .2) !important;
			}

			&.conflict {
				background-color: v.$red1-color;
				color: rgba(black, .5);
				border-color: rgba(black, .2);
			}
		}

		&.four {
			@include sudoku-board(4, 2, 2);
		}

		&.six {
			@include sudoku-board(6, 3, 2);
		}

		&.nine {
			@include sudoku-board(9, 3, 3);
		}
	}

	.buttons {
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
	}
}
