@use "@/styles/_variables.scss" as v;
@use "@/styles/_variables.scss" as vars;

$width: 160px;
$margin-right: 1rem;
$margin-left: calc(190px - $width - $margin-right);

.adslot {
	width: 160px;
    height: 600px;
    background-color: v.$primary-color;
    color: v.$lighter-color;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .3;
    border-radius: .3rem;
	text-align: center;
	font-weight: normal;
	font-size: .8rem;
    margin-left: $margin-left;
    justify-self: end;
}

@media (max-width: vars.$mobile-breakpoint) {
	.adslot {
		width: 320px;
		height: 50px;
		margin: 0 auto;
		font-size: .7rem;

		h3 {
			br {
				display: none;
			}
		}
	}
}