$primary-color: #5C5047;
$red1-color: #D8A7A7;
$red2-color: #A26769;
$tertiary-color: #AFC8D8;
$quaternary-color: #4F6D7A;
$lighter-color: #efe5d8;
$background-color: #f5f2ed;
$green-color: #bfcfa2;

