@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Funnel Sans', sans-serif;
}