@use "@/styles/_variables.scss" as v;

$dark-border-color: rgba(black, .3);

.button {
	border: 1px solid $dark-border-color;
	background: v.$quaternary-color;
	border-radius: .2rem .2rem .1rem .1rem;
	font-size: 1rem;
	border-bottom-width: 3px;
	color: v.$lighter-color;
	cursor: pointer;
	transition: 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem .7rem;

	&.square {
		width: 2rem;
		height: 2rem;
		padding: 0;
	}

	&:hover {
		background: v.$tertiary-color;
		color: v.$quaternary-color;
	}

	&:disabled {
		opacity: .5;
		cursor: not-allowed;
	}

	svg {
		width: 70%;
	}
}