@use "@/styles/_variables.scss" as v;

.app-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-color: v.$lighter-color;

	.main-layout {
		max-width: 100vw;
		height: 100vh;
		display: flex;
		margin: 1rem;
		padding: 2rem 0;
		// background-color: v.$lighter-color;
		border-radius: .6rem;
	}
}