@use "@/styles/_variables.scss" as v;

.header {
	height: 4.3rem;
	nav {
		display: flex;
		gap: 2rem;
		justify-content: center;
		height: 100%;

		a {
			// padding: 1.5rem;
			width: 4.3rem;
			display: flex;
			justify-content: center;
			align-items: center;

			text-decoration: none;
			color: v.$primary-color;
			position: relative;
			z-index: 1;
			transition: 0.3s ease;
			position: relative;
			opacity: .75;

			&.active {
				opacity: 1;
				background-color: v.$quaternary-color;
				color: v.$lighter-color;
				border-radius: 0 0 .5rem .5rem;

				&:before {
					content: "";
					width: 40%;
					height: 10%;
					position: absolute;
					background: v.$lighter-color;
					bottom: 0;
					border-radius: 1rem;
					inset: 0;
					margin: auto;
					margin-bottom: .5rem;
				}
			}
		}
	}
}